.page-title {
    font-size: 20px;
    margin-bottom: 2rem;
}

.blue-button {
    padding: 5px 10px;
    font-size: 15px;
}

/* .input {
    padding: 5px 10px;
} */

/* MAIN SEGMENT */
.main-segment {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 20px;
}

.file-segment {
    gap: 2rem;
}

.thumbnail-file-segment {
    gap: 2rem;
}

.input-segment {
    gap: 1rem;
    align-items: center;
}

.upload-box {
    display: flex;
    border: 1.5px dashed #D9D9D9;
    border-radius: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5F3FF;
    gap: 7px;

}

.video-upload-box {
    width: 350px;
    aspect-ratio: 1;
}

.upload-box:hover {
    background-color: #E5F3FF;
    cursor: pointer;
}

.upload-box .upload-icon {
    width: 65px;
}

.upload-box .desc {
    color: #57AEFF;
    font-size: 15px;
}

.upload-icon svg {
    color: #57AEFF
}


.thumbnail-upload-box, .thumbnail-segment .thumbnail-image {
    width: 150px;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.thumbnail-upload-box .desc {
    font-size: 12px;
}

.thumbnail-upload-box .upload-icon {
    width: 30px;
}

.thumbnail-segment .thumbnail-image {
    background-color: #D9D9D9;
    border: 1px solid #57AEFF;
}

.desc-input {
    height: 100px;
}

.tags-input {
    height: 50px;
}

.custom-input {
    width: 350px;
}

.custom-input input[type="text"] {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width: 1280px) {

    .video-upload-box {
        width: 450px;
        border-radius: 30px;
    
    }
    
    .main-segment {
        flex-direction: row;
        justify-content: space-between;
        height: 70vh;
        margin-bottom: 30px;
    }

    .input-segment {
        width: 50%;
        justify-content: space-between;
        height: 100%;
    }

    .custom-input {
        width: 100%;
    }

    .desc-input {
        height: 200px;
    }

}