.video-title {
    color: #0F0F0F;
    font-size: 20px;
    font-weight: 500;
}

.full-name {
    color: #0F0F0F;
    font-size: 15px;
}

.official-logo svg {
    width: 20px;
    margin-top: 5px;
}

.publisher-container {
    gap: 5px;
}

.publisher-pic-container {
    width: 50px;
    border-radius: 100%;
    aspect-ratio: 1;
    margin-right: 10px;
}

.publisher-pic {
    width: 50px;
    object-fit: cover; /* or object-fit: contain; depending on your preference */
    border-radius: 100%; /* to make it a circular image */
    aspect-ratio: 1;
    color: #D9D9D9;
}

.user-pic-container {
    width: 50px;
    border-radius: 100%;
    aspect-ratio: 1;
    margin-right: 10px;
}


.user-pic {
    width: 50px;
    object-fit: cover; /* or object-fit: contain; depending on your preference */
    border-radius: 100%; /* to make it a circular image */
    aspect-ratio: 1;
    color: #D9D9D9;
}

.takedown-button {
    color: red;
    height: fit-content;
    padding: 5px 10px;
}


.video-desc {
    background-color: #ebebeb;
    padding: 1rem;
    border-radius: 10px;
}

.desc-text-container {
    max-height: 2em; /* Adjust based on your font size and line height */
    overflow: hidden;
    position: relative;
}

.desc-text-container.expanded {
    max-height: none;
}

.span-button {
    font-size: 14px;
    font-weight: 500;
    display: none;
}


.span-button:hover {
    cursor: pointer;
}

.title-desc {
    color: #0F0F0F;
    font-size: 15px;
    font-weight: 500;
}

.comment-box {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

.desc-container {
    margin-top: 20px;
}

.takedown-desc-container {
    margin-top: 5px;
    margin-bottom: 20px;
}

.takedown-title {
    color: rgb(236, 0, 0);
}

.desc-container p {
    color: #606060;
    font-size: 14px;
}

.comment-title {
    font-size: 15px;
    color: #0F0F0F;
}

textarea {
    width: 100%;
}

.action-button-container {
    padding: 10px 0;
}

.action-button-container button {
    padding: 10px 15px;
    font-weight: 500;
    font-size: 12px;
}

#submit-comment-button {
    color: red;
}

.submit-action-button {
    background-color: #faf9f9;
}

.comment-input {
    max-height: 200px;
}

#comment-button-container {
    display: none;
}

.commenter {
    font-weight: 500;
}

#comment-content p {
    color: #333;
    font-size: 15px;
}