/* PROFILE AND USER */

.user-profile {
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.profile-picture {
    width: 50px;
    height: 50px;
    color: #D9D9D9;
}

.profile-picture img {
    width: 50px;
    height: 50px;
}


.change-pic-icon {
    top: 15px;
    left: 15px;
    width: 20px;    
    color: transparent;
}

.change-pic-icon:hover {
    color: #0085FF;
    background-color: transparent;
}

.full-name {
    font-size: 20px;
}

.user-info {
    font-size: 12px;
    gap: 0.5rem;
}

/* MAIN BODY */
.main-body {
    margin-bottom: 30px;
    flex-direction: column;
    gap: 2rem;
}
/* FORMS */

.user-forms {
    gap: 1rem;
}

.form-inputs .input {
    width: 40%;
}

.form-inputs .submit-button {
    width: 15%;
}

.form-label {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-inputs {
    gap: 0.5rem;
    height: 30px;
}

.submit-button {
    border: 1px solid #0085FF;
    color: #0085FF;
    background-color: white;
}

.submit-button:hover {
    background-color: #E5F3FF;
}

/* STATS */

.stats {
    font-size: 15px;
    gap: 1rem;
}

.stats .title {
    font-weight: 500;
}

.stats .bd {
    padding-bottom: 0.5rem;
}

/* UPLOAD VIDEO */

.upload-section {
    gap: 0.6rem;
}

.upload-title {
    font-size: 20px;
}

.upload-desc {
    color: #9A9A9A;
    font-size: 12px;
}

.upload-button {
    width: 10rem;
    height: 2.5rem;
    font-size: 15px;
    margin-top: 10px;
}

@media screen and (min-width: 1280px) {
    /* PROFILE AND USER */
    .profile-picture {
        width: 60px;
        height: 60px;
    }

    .profile-picture img {
        width: 60px;
    }

    .change-pic-icon {
        top: 15px;
        left: 15px;
        width: 30px;    
    }
    
    .full-name {
        font-size: 30px;
    }
    
    .user-info {
        font-size: 15px;
    }
    
    /* MAIN BODY */
    .main-body {
        margin-bottom: 50px;
        flex-direction: row;
    }
    /* FORMS */
    
    .user-forms {
        width: 50%;
        gap: 2rem;
    }
    
    .form-label {
        font-size: 15px;
    }
    
    .form-inputs {
        gap: 0.5rem;
        height: 30px;
    }
    
    /* STATS */
    
    .stats {
        width: 45%;
        font-size: 15px;
        gap: 2rem;
    }
    
    /* UPLOAD VIDEO */
    
    .upload-title {
        font-size: 25px;
    }
    
    .upload-desc {
        font-size: 15px;
    }
    
    .upload-button {
        font-size: 15px;
    }
}