* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* PAGE TEMPLATE*/

.page-template-body {
    width: 85%;
    margin: 0 auto;
}

/* GLOBAL CLASSES */

.full-rounded {
    border-radius: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: column;
}

.flex-col {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.text-gray {
    color: #464646;
}

.bd {
    border-bottom: 1px solid #D9D9D9;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.h-screen {
    height: 100vh;
}

.inline-block {
    display: inline-block;
}

.required-mark {
    visibility: hidden;
}

/* HEADER AND SIDEBAR */

.menu-gap {
    gap: 1.5rem;
}

.signin-button {
    border: 1px solid #0085FF;
    border-radius: 100px;
    color: #0085FF;
    font-size: 15px;
    padding: 5px 10px;
    width: 90px;
    gap: 3px;
}

.signin-button:hover {
 background-color: #E5F3FF;
}

.signin-button svg {
    height: 20px;
}

.panel-header .logo {
    gap: 3px;
    padding: 0;
}

.panel-header .logo .logo-img {
    height: 20px;
}

.panel-header .logo .logo-text {
    font-size: 20px;
    font-weight: bold;
}

/* BLUE BUTTON */
.blue-button {
    background-color: #0085FF;
    color: white;
    border-radius: 100px;
    font-weight: 300;
}

.blue-button:hover {
    background-color: #0271d6;
}

/* INPUTS */

.required {
    visibility: visible;
    color: red;
}

.input-label {
    font-size: 15px;
    margin-bottom: 5px;
}

/* PAGINATION */

.pagination {
    gap: 5px;
}

.page-button {
    border: 1px solid #0085FF;
    color:#0085FF;
    padding: 10px;
    aspect-ratio: 1;
    width: 30px;
    font-size: 10px;
}

.page-button:hover {
    color: #E5F3FF;
}
/* ELEMENTS */

span {
    display: inline-block;
}

input, textarea {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    resize: none;
}

input {
    padding: 0 10px;
}
textarea {
    padding: 5px 10px;
}


input[type="file"]::-webkit-file-upload-button {
    display: none;
}

input[type="text"]:focus, textarea:focus {
    outline-width: 0;
}

button {
    border: none;
    border-radius: 10px;
    background: transparent;
    padding: 0;
}

button:hover{
    background-color: #f5f5f5;
}

button:hover {
    cursor: pointer;
}

p {
    margin: 0;
}

