* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* GLOBAL CLASSES */

.page-template-body {
    width: 85%;
    margin: 0 auto;
}

.full-rounded {
    border-radius: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: column;
}

.flex-col {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.text-gray {
    color: #464646;
}

.bd {
    border-bottom: 1px solid #D9D9D9;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.h-screen {
    height: 100vh;
}

.upload-button {
    background-color: #0085FF;
    color: white;
    border-radius: 100px;
    width: 10rem;
    height: 2.5rem;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

/* ELEMENTS */

span {
    display: inline-block;
}

input {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 0 10px;
}

input[type="text"]:focus {
    outline-width: 0;
}

button {
    border: none;
    border-radius: 5px;
    background: transparent;
}

button:hover {
    cursor: pointer;
}