.navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.global-navbar {
    padding: 1rem 2rem;
    padding-right: 7.5%;
}

.navbar .logo {
    display: none;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
}

.search-div {
    display: flex;
    width: 40%;
    margin-right: 3%;
    min-width: 200px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.nav-links a:last-child {
    margin-right: 0;
}


.profile-link svg{
    height: 40px;
    aspect-ratio: 1;
    color: #D9D9D9;
}

.profile-link img {
    height: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
}

.filters {
    width: 85%;
    margin-bottom: 10px;
    flex-direction: column;
}

.scrollmenu {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    border-radius: 10px;
}
    
.badge {
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    padding: 7px 15px;
}

.badge.selected {
    background-color: #0085FF;
    color: white;
}

.options-container {
    width: 100%;
}

.dropdown, .dropdown-multiple {
    width: 32%;
}

@media screen and (min-width: 500px) {
    .search-div {
        min-width: 300px;
    }
}

@media screen and (min-width: 700px) {
    .navbar .logo {
        display: flex;
    }

    .search-div {
        margin-right: 10%;
    }

    .filters {
        flex-direction: row;
    }

    .options-container {
        width: 40%;
   
    }

    .scrollmenu {
        width: 58%;
    }
}