Reset some default styles
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.p-2 {
    padding: 0.5rem;
}

.mtbr-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.inline {
    display: inline;
}

.main-page {
    margin-top: 140px;
}

